<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse"
			data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span
				class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="nav pull-left">
			<a class="brand" href="$qthHomeLink">七台河信息发布系统 </a>
            </div>
			#if ($qthUser.hasLoggedIn())
			<div class="btn-group pull-right">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-user"></i>
					$qthUser.getUserName()
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="profile.html">我的资料</a></li>
					<li class="divider"></li>
					<li><a href="$userLogoutLink">注销</a></li>
				</ul>
			</div>
			<div class="nav pull-right">
				<ul class="nav">
					<li><a href="messages.html">站内信</a></li>
				</ul>
			</div>
			#else
			<div class="nav pull-right">
				<ul class="nav">
					<li><a href="$userModule.setTarget("login")">登录</a></li>
					<li><a href="$userModule.setTarget("register")">注册</a></li>
				</ul>
			</div>	
			#end
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="$qthHomeLink">主页</a></li>
					#if ($qthUser.hasLoggedIn())
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
						data-toggle="dropdown">我的产品 <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="mySaleProduct.html">销售产品</a></li>
							<li><a href="myProcureProduct.html">采购产品</a></li>
						</ul>
					</li>
					  #end
					<li><a href="saleProduct.html">我要采购</a></li>
					<li><a href="procureProduct.html">我要销售</a></li>
					<li><a href="enterprises.html">查找企业</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>