<div class="container-fluid">
	<div class="row">
			<div class="span12">
				<ul class="nav nav-pills">
					<li><a href="listProductCategory.htm?isMaterial=0">资源类别</a></li>
					<li><a href="listProductCategory.htm?isMaterial=1">废旧原料类别</a></li>
					<li class="active"><a href="#">编辑类目</a></li>
				</ul>
			</div>
	</div>
	<div class="row">
		<div class="span12">
			<form class="well form-horizontal" method="post">
					$csrfToken.hiddenField
					<input type="hidden" name="action" value="category_action"/>
					#set ($group = $form.category.defaultInstance)
					$group.mapTo($category)
					<input type="hidden" name="$group.id.key" value="$!group.id.value"/>
					<fieldset>
					<legend>类目编辑</legend>
					#if(!$group.saveCategoryInfo.valid)
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						 <strong>Oh snap!</strong> $group.saveCategoryInfo.message
					</div>
					#end
					#if(!$group.categoryErr.valid)
					<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						 $group.categoryErr.message
					</div>
					#end
					<div class="control-group #if(!$group.name.valid)error #else success #end">
						<label class="control-label" for="name">$group.name.displayName</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="name" name="$group.name.key" value="$group.name.value">
							<p class="help-block">
							#if(!$group.name.valid)$group.name.message #end
							</p>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="description">描述</label>
						<div class="controls">
							<textarea class="input-xlarge" id="description" rows="3" name="$group.description.key"
												placeholder="描述">$group.description.value</textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="isMaterial">类目类型</label>
						<div class="controls">
							<select id="isMaterial" name="$group.isMaterial.key">
								<option value="Y" #if($group.isMaterial.value!='N') selected=true #end>废旧原料类别</option>
								<option value="N" #if($group.isMaterial.value=='N') selected=true #end>资源类别</option>
							</select>
						</div>
					</div>
					</fieldset>
					<div class="form-actions">
						<input type="submit" class="btn btn-primary" name="event_submit_do_edit" value="保存"/>
						<input type="button" class="btn btn-primary" value="取消" onClick="history.go(-1)"/>
					</div>
			</form>
		</div>
	</div>
</div>
