<div class="container-fluid">
		<div class="row">
			<div class="span12">
				<ul class="nav nav-pills">
					<li><a href="listProductCategory.htm?isMaterial=0">资源类别</a></li>
					<li><a href="listProductCategory.htm?isMaterial=1">废旧原料类别</a></li>
					<li class="active"><a href="#l">编辑类目</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<form class="well form-horizontal" method="post">
					<div class="control-group error">
						<label class="control-label" for="input01">名称</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="input01"
								placeholder="名称">
							<p class="help-inline">填写名称</p>
						</div>
					</div>
					<div class="control-group error">
						<label class="control-label" for="input01">描述</label>
						<div class="controls">
							<textarea class="input-xlarge" id="input01" rows="3"
												placeholder="描述"></textarea>
							<p class="help-inline"></p>
						</div>
					</div>
					<div class="control-group error">
						<label class="control-label" for="input01">类目类型</label>
						<div class="controls">
							<select id="isMaterial">
								<option selected="true" value="1">废旧原料类别</option>
								<option value="0">资源类别</option>
							</select>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">保存</button>
						<button type="submit" class="btn btn-primary">取消</button>
					</div>
				</form>
			</div>
		</div>
