<div class="container-fluid">
		<div class="row">
			<div class="span12">
				<ul class="nav nav-pills">
				#if($!isMaterial == 'Y')
					<li><a href="listProductCategory.htm?isMaterial=N">资源类别</a></li>
					<li class="active"><a href="listProductCategory.htm?isMaterial=Y">废旧原料类别</a></li>
				#else
					<li class="active"><a href="listProductCategory.htm?isMaterial=N">资源类别</a></li>
					<li><a href="listProductCategory.htm?isMaterial=Y">废旧原料类别</a></li>
				#end

				</ul>
				<!--/.well -->
			</div>
		</div>
		<!--/row-->
		<div class="row">
			<form class="well form-search span12" method="post">
				<div class="row-fluid">
					<div class="input-append span9">
						<span class="add-on">名称</span><input type="text" class="span3"
							id="categoryName" name="name" value="$!name"/>
							<input type="hidden" name="isMaterial" value="$!isMaterial" />
							<button type="submit" class="btn" >查询</button>
							<button class="btn" type="button" onClick="addCategory();">新增</button>
					</div>
				</div>
			</form>
		</div>
		<div class="pagination">
			  <ul>
			  	<li#if($!page == 1) class="active"#end><a href="listProductCategory.htm?isMaterial=$!isMaterial&name=$!name&page=1&pageSize=20">第1页</a></li>
			 	 #if($!totalPage != 1)
			 	 #foreach($pageIndex in [2 .. $!totalPage])
					<li#if($!page == $!pageIndex) class="active"#end><a href="listProductCategory.htm?isMaterial=$!isMaterial&name=$!name&page=$!pageIndex&pageSize=$!pageSize">$!pageIndex</a></li>
			 	 #end
			 	 #end
			  </ul>
		</div>
		<div class="row">
			<div class="span12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>名称</th>
							<th>描述</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						#set($_rowIndex = 0)
						#foreach($category in $categoryList)
						#set($_rowIndex = $_rowIndex+1)
						<tr>
							<td>$!_rowIndex</td>
							<td>$!category.name</td>
							<td>$!category.description</td>
							<td><a href="editCategory.htm?id=$!category.id">编辑</a></td>
						</tr>
						#end
					</tbody>
				</table>
			</div>
		</div>
		<div class="pagination">
			  <ul>
			  	<li#if($!page == 1) class="active"#end><a href="listProductCategory.htm?isMaterial=$!isMaterial&name=$!name&page=1&pageSize=20">第1页</a></li>
			 	 #if($!totalPage != 1)
			 	 #foreach($pageIndex in [2 .. $!totalPage])
					<li#if($!page == $!pageIndex) class="active"#end><a href="listProductCategory.htm?isMaterial=$!isMaterial&name=$!name&page=$!pageIndex&pageSize=$!pageSize">$!pageIndex</a></li>
			 	 #end
			 	 #end
			  </ul>
		</div>
		<hr>
	</div>
	<script>
		function addCategory(){
			//alert('1');
			window.location.href="addCategory.htm";
		}
	</script>
