<html>
<body>
<div class="container-fluid">
		<div class="row">
			<div class="span12">
				<ul class="nav nav-pills">
				#if($!isMaterial != 0)
					<li><a href="listProductCategory.htm?isMaterial=0">资源类别</a></li>
					<li class="active"><a href="listProductCategory.htm?isMaterial=1">废旧原料类别</a></li>
				#else
					<li class="active"><a href="listProductCategory.htm?isMaterial=0">资源类别</a></li>
					<li><a href="listProductCategory.htm?isMaterial=1">废旧原料类别</a></li>
				#end

				</ul>
				<!--/.well -->
			</div>
		</div>
		<!--/row-->
		<div class="row">
			<form class="well form-search span12">
				<div class="row-fluid">
					<div class="input-append span9">
						<span class="add-on">名称</span><input type="text" class="span3"
							id="categoryName" name="name" />
							<input type="hidden" name="isMaterial" value="$!isMaterial" />
							<button type="submit" class="btn" >查询</button>
							<button class="btn" type="button" onClick="addCategory();">新增</button>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="span12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>名称</th>
							<th>描述</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						#set($_rowIndex = 0)
						#foreach($category in $categoryList)
						#set($_rowIndex = $_rowIndex+1)
						<tr>
							<td>$!_rowIndex</td>
							<td>$!category.name</td>
							<td>$!category.description</td>
							<td><a href="editCategory.htm?id=$!category.id">编辑</a></td>
						</tr>
						#end
					</tbody>
				</table>
			</div>
		</div>
		<hr>
	</div>
	<script src="$!{qthServer}assets/js/jquery.js"></script>
	<script>
		function queryCategory(){
			var name = document.getElementById("categoryName");
			//var name = $("#categoryName");
			//alert(name.value);
			var url="listProductCategory.htm?isMaterial=c&name="+name.value;
			alert(url);
			window.location.href="listProductCategory.htm?isMaterial=$!isMaterial&name="+name.value;
		}
		function addCategory(){
			window.location.href="addCategory.htm";
		}
	</script>
</body>
</html>