<div class="container-fluid">
		<!-- 冻结/解冻用户的对话框两个 -->
		<div id="freeseModal" class="modal" style="display: none; ">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>冻结/解冻用户确认</h3>
			</div>
			<div class="modal-body" id="confirmMessage">
			</div>
			<input type="hidden" name="id" id="freeseId"></input>
			<div class="modal-footer">
				<a href="#" id="freeseHref" class="btn btn-success">确定</a>
				<a href="#" class="btn" data-dismiss="modal">关闭</a>
			</div>
		</div>
		<div id="okModal" class="modal" style="display: none; ">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>操作成功！</h3>
			</div>
			<div class="modal-body">
			用户冻结/解冻操作成功！
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-success" data-dismiss="modal" onClick="location.reload();">确定</a>
			</div>
		</div>
		<div id="failModal" class="modal" style="display: none; ">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>操作失败！</h3>
			</div>
			<div class="modal-body">
			用户状态错误，用户冻结/解冻操作失败！
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-success" data-dismiss="modal" onClick="location.reload();">确定</a>
			</div>
		</div>
		<!-- 页面内容 -->
		<div class="row">
			<div class="span12">
				<ul class="nav nav-pills">
					<li class="active"><a href="#">用户列表</a></li>
					<li><a href="addInnerUser.htm">新增园区内部用户</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<form class="well form-search span12">
				<div>
					<label class="label label-warning"  for="name">用户姓名</label>
					<input
					type="text" class="input-middle" id="name" name="name"  value="$!name"/>
					<label class="label label-warning"  for="company">公司名称</label>
					<input
					type="text" class="input-xlarge" id="company" name="company"  value="$!company">
					<label class="label label-warning">级别</label>
					<select class="span2" name="userLevel">
						<option></option>
						<option value="common" #if($!userLevel=='common') selected=true #end>普通会员</option>
						<option value="golden" #if($!userLevel=='golden') selected=true #end>金牌会员</option>
					</select>
					<label class="label label-warning">状态</label>
					<select name="status">
						<option></option>
						<option value="new" #if($!status=='new') selected=true #end>待审核</option>
						<option value="normal" #if($!status=='normal') selected=true #end>审核通过</option>
						<option value="freese" #if($!status=='freese') selected=true #end>已冻结</option>
						<option value="auditFailed" #if($!status=='auditFailed') selected=true #end>审核失败</option>
					</select>
				</div>
				<div class="pull-right">
				<button type="submit" class="btn btn-warning ">
				查询
				</button>
				</div>
			</form>
		</div>
		<div class="pagination">
			  <ul>
			  	<li#if($!page == 1) class="active"#end><a href="listUser.htm?name=$!name&company=$!company&status=$!status&userLevel=$!userLevel&page=1&pageSize=20">1</a></li>
			 	 #if($!totalPage != 1)
			 	 #foreach($pageIndex in [2 .. $!totalPage])
					<li#if($!page == $!pageIndex) class="active"#end><a href="listUser.htm?name=$!name&company=$!company&status=$!status&userLevel=$!userLevel&page=$!pageIndex&pageSize=$!pageSize">$!pageIndex</a></li>
			 	 #end
			 	 #end
			  </ul>
		</div>
		<div class="row">
			<div class="span12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="3%">#</th>
							<th width="5%">登录名</th>
							<th width="7%">姓名</th>
							<th width="25%">公司</th>
							<th width="6%">等级</th>
							<th width="6%">状态</th>
							<th width="8%">手机</th>
							<th width="10%">电话</th>
							<th width="10%">邮箱</th>
							<th width="19%">操作</th>
						</tr>
					</thead>
					<tbody>
						#set($_rowIndex = 0)
						#foreach($user in $userList)
						#set($_rowIndex = $_rowIndex+1)
						<tr>
							<td>$!_rowIndex</td>
							<td>$!user.loginId</td>
							<td>$!user.name</td>
							<td>$!user.company</td>
							<td>#if($!user.userLevel=='common')普通会员 #elseif($!user.userLevel=='golden')金牌会员#else $!user.userLevel#end</td>
							<td>#if($!user.status=='new')待审核 #elseif($!user.status=='normal')审核通过#elseif($!user.status=='auditFailed')审核失败#elseif($!user.status=='freese')已冻结 #else $!user.status#end</td>
							<td>$!user.mobilePhone</td>
							<td>$!user.phoneArea  $!user.phoneNumber</td>
							<td>$!user.email</td>
							<td>
								#if($!user.status=='new')<a href="auditUser.htm?id=$!user.id">审核</a>#end
								<a href="editUser.htm?id=$!user.id">编辑</a>
								<a href="resetUserPassword.htm?id=$!user.id">重置密码</a>
								#if($!user.status=='freese')<a  href="#" onClick="unFreese($!user.id,'$!user.name')">解冻</a>#else<a href="#" onClick="freese($!user.id,'$!user.name')">冻结</a>#end
								<a href="setUserLevel.htm?id=$!user.id">等级评定</a>
							</td>
						</tr>
						#end
					</tbody>
				</table>
			</div>
		</div>
		<div class="pagination">
			  <ul>
			  	<li#if($!page == 1) class="active"#end><a href="listUser.htm?name=$!name&company=$!company&status=$!status&userLevel=$!userLevel&page=1&pageSize=20">1</a></li>
			 	 #if($!totalPage != 1)
			 	 #foreach($pageIndex in [2 .. $!totalPage])
					<li#if($!page == $!pageIndex) class="active"#end><a href="listUser.htm?name=$!name&company=$!company&status=$!status&userLevel=$!userLevel&page=$!pageIndex&pageSize=$!pageSize">$!pageIndex</a></li>
			 	 #end
			 	 #end
			  </ul>
		</div>
		<hr>
	</div>
	<script>
		var xmlHttpRequest=null;
		var ajaxCallBackFunction=function(){
				//alert('回调了'+xmlHttpRequest.readyState);
		        if(xmlHttpRequest.readyState==4){
		            if(xmlHttpRequest.status==200){
		            	//alert('进了4和200'+xmlHttpText);
		                var xmlHttpText=xmlHttpRequest.responseText;
		                //alert(xmlHttpText);
		                if(xmlHttpText=='success'){
		                	$('#okModal').modal('show');
		                	$('#freeseModal').modal('hide');
		                }else{
		                	$('#failModal').modal('show');
		                	$('#freeseModal').modal('hide');
		                }
		            }
		        }
	    	};
	    //冻结用户
		function freese(id,name){
			var messageDiv=document.getElementById ("confirmMessage");
			var freeseId=document.getElementById ("freeseId");
			freeseId.value=id;
			messageDiv.innerHTML="<p>您确定要冻结用户"+name+"吗？</p>";
			var freeseHref =document.getElementById ("freeseHref");
			freeseHref.onclick=function(){
				var id=document.getElementById ("freeseId").value;
				var xmlHttpRequest=getAjaxRequest();
			    if(xmlHttpRequest!=null){
			            xmlHttpRequest.open("get", "freeseUser.htm?id="+id,true, null, null);
			            xmlHttpRequest.onreadystatechange=ajaxCallBackFunction;
			            xmlHttpRequest.send(null);
			    }
			};
			$('#freeseModal').modal('show');
		}

		function unFreese(id,name){
			//alert('解冻用户');
			var messageDiv=document.getElementById ("confirmMessage");
			var freeseId=document.getElementById ("freeseId");
			freeseId.value=id;
			messageDiv.innerHTML="<p>您确定要解冻用户"+name+"吗？</p>";
			var freeseHref =document.getElementById ("freeseHref");
			freeseHref.onclick=function(){
				var id=document.getElementById ("freeseId").value;
				var xmlHttpRequest=getAjaxRequest();
				if(xmlHttpRequest!=null){
			            xmlHttpRequest.open("get", "unFreeseUser.htm?id="+id,true, null, null);
			            xmlHttpRequest.onreadystatechange=ajaxCallBackFunction;
			            xmlHttpRequest.send(null);
			     }
			};
			$('#freeseModal').modal('show');
		}

		function getAjaxRequest(){
			if(window.ActiveXObject){
				xmlHttpRequest=new ActiveXObject("Microsoft.XMLHTTP");
			}else{
				xmlHttpRequest=new XMLHttpRequest();
			}
			return xmlHttpRequest;
		}
	</script>
