	<div class="row">
		<div class="span2">
        	<div class="well" style="padding: 8px 0;">
        		<ul class="nav nav-list">
        			<li class="nav-header">站内信</li>
					<li class="divider">
        			<li><a href="inbox.htm"><i	class="icon-inbox"></i> 收件箱</a></li>
        			<li><a href="sendMessage.htm"><i class="icon-envelope"></i>发信</a></li>
        			<li><a href="outbox.htm"><i class="icon-folder-open"></i>发件箱</a></li>
        		</ul>
        	</div>
        </div>
		<div class="span10">
			<div class="row">
				<div class="span2">标题：</div>
				<div class="span10">$!message.title</div>
			</div>
			<div class="row">
				<div class="span2">发件人：</div>
				<div class="span10">#if($message.sender != '1')$!message.sender#else管理员#end</div>
			</div>
			<div class="row">
				<div class="span2">收件人：</div>
				<div class="span10">#if($message.receiver != '1')$!message.receiver#else管理员#end</div>
			</div>
			<div class="row">
				<div class="span2">时间：</div>
				<div class="span10">$!message.gmtCreated</div>
			</div>
			<div class="row">
				<div class="span2">内容</div>
			</div>
			<div class="container-fluid">
				<textarea class="textarea span10" id="content" readOnly="true" disabled="disabled" cols="500" rows="20">$!message.content</textarea>
			</div>
			#if (1==$message.receiver)
				<div class="span10"><a class="btn btn-primary" href="sendMessage.htm?replyId=$!message.id">回复</a></div>
			#end
		</div>
	</div>
