<div class="container-fluid">
	<div class="row">
			<div class="span12">
				<ul class="nav nav-pills">
					<li><a href="listUser.htm">用户列表</a></li>
					<li><a href="addInnerUser.htm">新增园区内部用户</a></li>
					<li class="active"><a href="#">重置密码</a></li>
				</ul>
			</div>
		</div>
	<div class="row">
		<div class="span12">
			<form class="well form-horizontal" method="post">
					$csrfToken.hiddenField
					<input type="hidden" name="action" value="admin_action"/>
					#set ($group = $form.userPasswordReset.defaultInstance)
					$group.mapTo($user)
					<input type="hidden" name="$group.id.key" value="$!group.id.value"/>
					<fieldset>
					#if(!$group.resetUserInfo.valid)
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						 <strong></strong> $group.resetUserInfo.message
					</div>
					#end
					#if(!$group.resetUserErr.valid)
					<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						 $group.resetUserErr.message
					</div>
					#end
					<legend>重置密码</legend>
					<div class="span12">
						<div class="row">
							<div class="span2">登录ID:</div>
							<div class="span10">$!user.loginId</div>
						</div>
						<div class="row">
							<div class="span2">姓名:</div>
							<div class="span10">$!user.name</div>
						</div>
						<div class="row">
							<div class="span2">公司：</div>
							<div class="span10">$!user.company</div>
						</div>
						<div class="row">
							<div class="span2">邮箱：</div>
							<div class="span10">$!user.email</div>
						</div>
					</div>
					<div class="span12">
						<p>
						重置密码为用户随机生成一个新密码，
						#if($!user.email)并发送到用户邮箱:$!user.email
						#else由于用户邮箱为空，因此请重置密码后以电话、短信或其它通讯方式联系用户
						#end
						</p>
					</div>
					<div class="span4">
						<div class="form-actions">
							<input type="submit" class="btn btn-primary" name="event_submit_do_reset_user_pass" value="重置"/>
							<input type="button" class="btn btn-primary" value="取消" onClick="history.go(-1)"/>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>
