<div class="container-fluid">
	<div class="row">
		<div class="span12">
			<form class="well form-horizontal" method="post">
					$csrfToken.hiddenField
					<input type="hidden" name="action" value="user_action"/>
					#set ($group = $form.userPasswordForget.defaultInstance)
					$group.mapTo($user)
					<fieldset>
					#if(!$group.resetUserInfo.valid)
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						 <strong></strong> $group.resetUserInfo.message
					</div>
					#end
					#if(!$group.resetUserErr.valid)
					<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						 $group.resetUserErr.message
					</div>
					#end
					<legend>重置密码</legend>
					<div class="control-group #if(!$group.email.valid)error #else success #end">
						<label class="control-label" for="email">$group.email.displayName</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="email" name="$group.email.key" value="$group.email.value">
							<p class="help-block">
							#if(!$group.email.valid)$group.email.message #end
							</p>
						</div>
					</div>
					<div class="span12">
						<p>
						1）请输入您在本站注册的电子邮箱地址；<br>
						2）重置密码功能将为您随机生成一个新密码并发送至您的注册邮箱；<br>
						3）请您在“重置密码”操作后登录邮箱查看新密码。
						</p>
					</div>
					<div class="span4">
						<div class="form-actions">
							<input type="submit" class="btn btn-primary" name="event_submit_do_reset_user_pass" value="重置密码"/>
							<input type="button" class="btn btn-primary" value="取消" onClick="history.go(-1)"/>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>
