<div class="container-fluid">
		<div id="nopermissionModal" class="modal" style="display: none; ">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>您还没有登录，请您登录后再查看企业的详细信息！</h3>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-success" data-dismiss="modal">确定</a>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<ul class="nav nav-pills">
					<li #if($!userRole != 'innerUser') class="active"#end><a href="listEnterprise.htm?userRole=outerUser">园区外企业</a></li>
					<li #if($!userRole == 'innerUser') class="active"#end><a href="listEnterprise.htm?userRole=innerUser">园区内企业</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<form class="well form-search span12" id="searchForm">
				<input type="hidden" name="userRole" value="$!userRole"/>
				<input type="hidden" name="order" id="orderBy" value="$!order"/>
				<div>
					<label class="label label-warning"  for="company">公司名称</label>
					<input
					type="text" class="input-xlarge" id="company" name="company"  value="$!company">
				</div>
				<label class="label label-warning">销售类目</label>
				<div>
					#if($!userRole != 'innerUser')
						#foreach($materialCategory in $materialCategories)
							<label class="checkbox inline">
								<input type="checkbox"
								id="$!materialCategory.id" value="$!materialCategory.id" name="saleInterests" #if($materialCategory.checked)checked="true"#end>
								$!materialCategory.name
							</label>
						#end
					#else
						#foreach($materialCategory in $notMaterialCategories)
							<label class="checkbox inline">
								<input type="checkbox"
								id="$!materialCategory.id" value="$!materialCategory.id" name="saleInterests" #if($materialCategory.checked)checked="true"#end>
								$!materialCategory.name
							</label>
						#end
					#end
				</div>
				<label class="label label-warning">采购类目</label>
					<div>
					#if($!userRole != 'innerUser')
						#foreach($materialCategory in $notMaterialCategories)
							<label class="checkbox inline">
								<input type="checkbox"
								id="$!materialCategory.id" value="$!materialCategory.id" name="buyInterests" #if($materialCategory.checked)checked="true"#end>
								$!materialCategory.name
							</label>
						#end
					#else
						#foreach($materialCategory in $materialCategories)
							<label class="checkbox inline">
								<input type="checkbox"
								id="$!materialCategory.id" value="$!materialCategory.id" name="buyInterests" #if($materialCategory.checked)checked="true"#end>
								$!materialCategory.name
							</label>
						#end
					#end
				</div>
				<div class="row-fluid">
					<label class="label label-warning" " for="input01">排序</label>
					<button class="btn btn-mini" onClick="doSearchWithOrder();">
					<i class="icon-arrow-up"></i>
					更新时间
					</button>
				</div>
				<div>
					<button class="btn btn-warning " onClick="doSearch();">
					查询
					</button>
				</div>
			</form>
		</div>
		<div class="pagination">
			  <ul>
			  	<li#if($!page == 1) class="active"#end><a href="listEnterprise.htm?company=$!company#foreach($id in $saleInterestIds)&saleInterests=$!id#end#foreach($id in $buyInterestIds)&buyInterests=$!id#end&page=1&pageSize=20&userRole=$!userRole">1</a></li>
			 	 #if($!totalPage != 1)
			 	 #foreach($pageIndex in [2 .. $!totalPage])
					<li#if($!page == $!pageIndex) class="active"#end><a href="listEnterprise.htm?company=$!company#foreach($id in $saleInterestIds)&saleInterests=$!id#end#foreach($id in $buyInterestIds)&buyInterests=$!id#end&page=$!pageIndex&pageSize=$!pageSize&userRole=$!userRole">$!pageIndex</a></li>
			 	 #end
			 	 #end
			  </ul>
		</div>
		<div class="row">
			<div class="span12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="15%">#</th>
							<th width="25%">公司名</th>
							<th width="20%">类别</th>
							<th width="20%">状态</th>
							<th width="10%">操作</th>
						</tr>
					</thead>
					<tbody>
						#set($_rowIndex = 0)
						#foreach($user in $userList)
						#set($_rowIndex = $_rowIndex+1)
						<tr>
							<td>$!_rowIndex</td>
							<td>$!user.company</td>
							<td>#if($!user.role=='innerUser')园区内部企业 #elseif($!user.role=='outerUser')园区外部企业#else $!user.role#end</td>
							<td>#if($!user.status=='new')待审核 #elseif($!user.status=='normal')审核通过#elseif($!user.status=='auditFailed')审核失败#elseif($!user.status=='freese')已冻结 #else $!user.status#end</td>
							<td>
								#if ($qthUser.hasLoggedIn())
									<a href="viewEnterprise.htm?id=$!user.id">查看详情</a>
								#else
									<a data-toggle="modal" href="#nopermissionModal">查看详情</a>
								#end
							</td>
						</tr>
						#end
					</tbody>
				</table>
			</div>
		</div>
		<div class="pagination">
			  <ul>
			  	<li#if($!page == 1) class="active"#end><a href="listEnterprise.htm?company=$!company#foreach($id in $saleInterestIds)&saleInterests=$!id#end#foreach($id in $buyInterestIds)&buyInterests=$!id#end&page=1&pageSize=20&userRole=$!userRole">1</a></li>
			 	 #if($!totalPage != 1)
			 	 #foreach($pageIndex in [2 .. $!totalPage])
					<li#if($!page == $!pageIndex) class="active"#end><a href="listEnterprise.htm?company=$!company#foreach($id in $saleInterestIds)&saleInterests=$!id#end#foreach($id in $buyInterestIds)&buyInterests=$!id#end&page=$!pageIndex&pageSize=$!pageSize&userRole=$!userRole">$!pageIndex</a></li>
			 	 #end
			 	 #end
			  </ul>
		</div>
		<hr>
	</div>
	<script>
		function doSearchWithOrder(){
			$("#orderBy").val(true);
			$("#searchForm").submit();
		}
	</script>
