#if($qthUser.hasLoggedIn())
<div class="container-fluid">
		<div id="cateSelectModal" class="modal" style="display: none; ">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>请至少选择一个类别！</h3>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-success" data-dismiss="modal">确定</a>
			</div>
		</div>
		<div class="row">
			<form class="well form-search span12" id="searchForm">
				<input type="hidden" name="notFirst" value="$!notFirst"/>
				<div>
					<label class="label label-warning"  for="name">产品名称</label>
					<input
					type="text" class="input-xlarge" id="name" name="name"  value="$!name">
				</div>
				#if($qthUser.hasLoggedIn() && $qthUser.role=='outerUser')
				<label class="label label-warning">资源类别</label>
				<label class="checkbox inline">
					<input type="checkbox" id="checkAllCategories" onClick="checkAll(this);"/>
					全部选中
				</label>
				<div>
						#foreach($materialCategory in $notMaterialCategories)
							<label class="checkbox inline">
								<input type="checkbox"
								id="$!materialCategory.id" value="$!materialCategory.id" name="nm" #if($materialCategory.checked)checked="true"#end>
								$!materialCategory.name
							</label>
						#end
				</div>
				#end
				#if($qthUser.hasLoggedIn() && $qthUser.role=='innerUser')
				<label class="label label-warning">原材料类别</label>
				<label class="checkbox inline">
					<input type="checkbox" id="checkAllCategories" onClick="checkAll(this);"/>
					全部选中
				</label>
					<div>
						#foreach($materialCategory in $materialCategories)
							<label class="checkbox inline">
								<input type="checkbox"
								id="$!materialCategory.id" value="$!materialCategory.id" name="m" #if($materialCategory.checked)checked="true"#end>
								$!materialCategory.name
							</label>
						#end
				</div>
				#end
				<br>
				<label class="label label-warning">状态</label>
				<select name="status">
					<option></option>
					<option value="new" #if($!status=='new') selected=true #end>待审核</option>
					<option value="onShelf" #if($!status=='onShelf') selected=true #end>已上架</option>
					<option value="offShelf" #if($!status=='offShelf') selected=true #end>已下架</option>
					<option value="auditFailed" #if($!status=='auditFailed') selected=true #end>审核失败</option>
				</select>
				<div>
					<a href="javascript:doSearch();" class="btn btn-warning">
					查询
					</a>
				</div>
			</form>
		</div>
		#if($!totalPage != 1)
		<div class="pagination">
			  <ul>
			  	#if($!page == 1)
			  		<li class="active"><a href="javascript:void(0)">1</a></li>
			  	#else
					<li><a href="listMyBuyProduct.htm?notFirst=$!notFirst&name=$!name&status=$!status#foreach($id in $m)&m=$!id#end#foreach($id in $nm)&nm=$!id#end&page=1&pageSize=20">1</a></li>
			  	#end
			 	#foreach($pageIndex in [2 .. $!totalPage])
					#if($!page == $!pageIndex)
						<li class="active"><a href="javascript:void(0)">$!pageIndex</a></li>
					#else
						<li><a href="listMyBuyProduct.htm?notFirst=$!notFirst&name=$!name&status=$!status#foreach($id in $m)&m=$!id#end#foreach($id in $nm)&nm=$!id#end&page=$!pageIndex&pageSize=$!pageSize">$!pageIndex</a></li>
					#end
			 	#end
			  </ul>
		</div>
		#end
		<div class="row">
			<div class="span12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="10%">#</th>
							<th width="25%">产品名称</th>
							<th width="20%">类别</th>
							<th width="25%">状态</th>
							<th width="20%">操作</th>
						</tr>
					</thead>
					<tbody>
						#set($_rowIndex = 0)
						#foreach($product in $productList)
						#set($_rowIndex = $_rowIndex+1)
						<tr>
							<td>$!_rowIndex</td>
							<td>$!product.name</td>
							<td>$!product.categoryName</td>
							<td>#if($!product.status=='new')待审核#elseif($!product.status=='onShelf')已上架#elseif($!product.status=='offShelf')已下架#elseif($!product.status=='auditFailed')审核失败#else$!product.status#end</td>
							<td>
								<a href="$userModule.setTarget("viewBuyProduct")?id=$!product.id">查看</a>
								#if($!product.status=='onShelf')
								<a href="#">下架</a>
								#end
								<a href="$userModule.setTarget("editBuyProduct")?id=$!product.id">编辑</a>
							</td>
						</tr>
						#end
					</tbody>
				</table>
			</div>
		</div>
		#if($!totalPage != 1)
		<div class="pagination">
			  <ul>
			  	#if($!page == 1)
			  		<li class="active"><a href="javascript:void(0)">1</a></li>
			  	#else
					<li><a href="listMyBuyProduct.htm?notFirst=$!notFirst&name=$!name&status=$!status&order=$!order#foreach($id in $m)&m=$!id#end#foreach($id in $nm)&nm=$!id#end&page=1&pageSize=20">1</a></li>
			  	#end
			 	#foreach($pageIndex in [2 .. $!totalPage])
					#if($!page == $!pageIndex)
						<li class="active"><a href="javascript:void(0)">$!pageIndex</a></li>
					#else
						<li><a href="listMyBuyProduct.htm?notFirst=$!notFirst&name=$!name&status=$!status&order=$!order#foreach($id in $m)&m=$!id#end#foreach($id in $nm)&nm=$!id#end&page=$!pageIndex&pageSize=$!pageSize">$!pageIndex</a></li>
					#end
			 	#end
			  </ul>
		</div>
		#end
		<hr>
	</div>
	<script>
		function doSearch(){
			if(paraValid()){
				$("#searchForm").submit();
			}else{
				$('#cateSelectModal').modal('show');
			}
		}

		function paraValid(){
			var mids=$("input[name='m']");
			var notMids=$("input[name='nm']");
			var midChecked=false;
			var notMidChecked=false;
			for (var i = 0; i < mids.length; i++) {
				if(mids[i].checked){
					midChecked=true;
					break;
				}
			}
			for (var i = 0; i < notMids.length; i++) {
				if(notMids[i].checked){
					notMidChecked=true;
					break;
				}
			}
			return notMidChecked||midChecked;//类型有选择
		}
		function checkAll(chx){
			var mids=$("input[name='m']");
			var notMids=$("input[name='nm']");
			for (var i = 0; i < mids.length; i++) {
				if(chx.checked){
					mids[i].checked=true;
				}else{
					mids[i].checked=false;
				}
			}
			for (var i = 0; i < notMids.length; i++) {
				if(chx.checked){
					notMids[i].checked=true;
				}else{
					notMids[i].checked=false;
				}
			}
		}
	</script>
#end
