$rundata.setLayoutEnabled(false)
<!DOCTYPE html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		#showHead ("七台河信息发布系统")
		<!-- Le styles -->
		<link href="$!{qthServer}assets/css/bootstrap.css" rel="stylesheet">
		<link href="$!{qthServer}assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="$!{qthServer}assets/css/docs.css" rel="stylesheet">
		<link href="$!{qthServer}assets/js/google-code-prettify/prettify.css" rel="stylesheet">
		<style type="text/css">
			body {
			padding-top: 60px;
			padding-bottom: 40px;
			}
			.sidebar-nav {
			padding: 9px 0;
			}
		</style>
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
			<!-- Le fav and touch icons -->
			<link rel="shortcut icon" href="$!{qthServer}assets/ico/favicon.ico">
			<link rel="apple-touch-icon-precomposed" sizes="144x144"
			href="$!{qthServer}assets/ico/apple-touch-icon-144-precomposed.png">
			<link rel="apple-touch-icon-precomposed" sizes="114x114"
			href="$!{qthServer}assets/ico/apple-touch-icon-114-precomposed.png">
			<link rel="apple-touch-icon-precomposed" sizes="72x72"
			href="$!{qthServer}assets/ico/apple-touch-icon-72-precomposed.png">
			<link rel="apple-touch-icon-precomposed"
			href="$!{qthServer}assets/ico/apple-touch-icon-57-precomposed.png">
	</head>
<body>
	<div class="container">
		<div class="span9">
			<div class="hero-unit">
				<h1>七台河信息发布系统</h1>
				<p>
				黑龙江省东部再生资源回收利用产业园区“城市矿产”示范基地信息发布系统
				</p>
			</div>
			<div class="row-fluid">
				<form class="well form-horizontal" method="post">
					$csrfToken.hiddenField
					<input type="hidden" name="action" value="user_action"/>
					#set ($group = $form.login.defaultInstance)
					<fieldset>
					<legend>登录</legend>
					#if(!$group.loginError.valid)
						<div class="alert alert-error">
							<button type="button" class="close" data-dismiss="alert">
							&times;
							</button>
							<strong>Oh snap!</strong>
							用户名或密码不正确,请重新输入
						</div>
					#end
					<div class="control-group #if(!$group.name.valid)error #else success #end">
						<label class="control-label" for="name">$group.name.displayName</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="name" name="$group.name.key" value="$group.name.value"
							placeholder="用户名">
							<p class="help-block">
							#if(!$group.name.valid)$group.name.message #end
							</p>
						</div>
					</div>
					<div class="control-group #if(!$group.password.valid)error #else success #end">
						<label class="control-label" for="password">$group.password.displayName</label>
						<div class="controls">
							<input type="password" class="input-xlarge" id="password" name="$group.password.key"
							placeholder="密码">
							<p class="help-block">
							#if(!$group.password.valid)$group.password.message #end
							</p>
						</div>
					</div>
					<div class="control-group #if(!$group.validateStr.valid)error #else success #end">
						<label class="control-label" for="validateStr">$group.validateStr.displayName</label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="validateStr" name="$group.validateStr.key"
							placeholder="验证码">
							<img id="validateImg" alt="" src="$userModule.setTarget("checkCode")" />
							<a href="#" onclick="changeImg()">换一张</a>
							<p class="help-block">
							#if(!$group.validateStr.valid)$group.validateStr.message #end
							</p>
						</div>
					</div>
					<div class="form-actions">
						<input type="submit" class="btn btn-primary" name="event_submit_do_login" value="登录"/>
						<a class="btn" href="register.html">注册</a>
					</div>
					</fieldset>
				</form>
			</div>
			<!--/row-->
		</div>
		<!--/span-->
	</div>
	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="$!{qthServer}assets/js/jquery.js"></script>
	<script src="$!{qthServer}assets/js/google-code-prettify/prettify.js"></script>
	<script src="$!{qthServer}assets/js/bootstrap-transition.js"></script>
	<script src="$!{qthServer}assets/js/bootstrap-alert.js"></script>
	<script src="$!{qthServer}assets/js/bootstrap-modal.js"></script>
	<script src="$!{qthServer}assets/js/bootstrap-dropdown.js"></script>
	<script src="$!{qthServer}assets/js/bootstrap-scrollspy.js"></script>
	<script src="$!{qthServer}assets/js/bootstrap-tab.js"></script>
	<script src="$!{qthServer}assets/js/bootstrap-tooltip.js"></script>
	<script src="$!{qthServer}assets/js/bootstrap-popover.js"></script>
	<script src="$!{qthServer}assets/js/bootstrap-button.js"></script>
	<script src="$!{qthServer}assets/js/bootstrap-collapse.js"></script>
	<script src="$!{qthServer}assets/js/bootstrap-carousel.js"></script>
	<script src="$!{qthServer}assets/js/bootstrap-typeahead.js"></script>
	<script src="$!{qthServer}assets/js/application.js"></script>
	<script>
		function changeImg(){
			var imgSrc = $("#validateImg");
			var src = imgSrc.attr("src");
			imgSrc.attr("src", chgUrl(src));
		}
		//时间戳
		//为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳
		function chgUrl(url){
			var timestamp = (new Date()).valueOf();
			url = '$userModule.setTarget("checkCode")';
			url = url + '?timestamp=' + timestamp;
			
			return url;
		}
	</script>
</body>
</html>