<div class="container-fluid">
    <div class="row">
    	<div class="span2">
        	<div class="well" style="padding: 8px 0;">
        		<ul class="nav nav-list">
        			<li class="nav-header">站内信</li>
					<li class="divider"></li>
        			<li><a href="inbox.htm"><i	class="icon-inbox"></i> 收件箱</a></li>
        			<li><a href="sendMessage.htm"><i class="icon-envelope"></i>发信</a></li>
        			<li class="active"><a href="outbox.htm"><i class="icon-folder-open"></i>发件箱</a></li>
        		</ul>
        	</div>
        </div>
        <div class="pagination">
			  <ul>
			  	<li#if($!page == 1) class="active"#end><a href="outbox.htm?page=1&pageSize=$!pageSize">第1页</a></li>
			 	 #if($!totalPage != 1)
				 	 #foreach($pageIndex in [2 .. $!totalPage])
						<li#if($!page == $!pageIndex) class="active"#end><a href="outbox.htm?page=$!pageIndex&pageSize=$!pageSize">$!pageIndex</a></li>
				 	 #end
			 	 #end
			  </ul>
		</div>
		<div class="span10">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="15%">#</th>
							<th width="30%">标题</th>
							<th width="25%">收件人</th>
							<th width="30%">操作</th>
						</tr>
					</thead>
					<tbody>
					#set($_rowIndex = 0)
					#foreach($message in $messageList)
					#set($_rowIndex = $_rowIndex+1)
						<tr>
							<td>$!_rowIndex</td>
							<td>$!message.title</td>
							<td>$!message.receiver</td>
							<td><a href="openMessage.htm?id=$!message.id">查看</a> <a href="#">删除</a></td>
						</tr>
					#end
					</tbody>
				</table>
			</div>
    </div>
</div>