<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse"
			data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span
				class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="nav pull-left">
			<a class="brand" href="$qthAdminHomeLink">七台河信息管理系统 </a>
            </div>
			#if ($qthAdmin.hasLoggedIn())
			<div class="btn-group pull-right">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-user"></i>
					$qthAdmin.getUserName()
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="$adminModule.setTarget("profile")">资料修改</a></li>
					<li class="divider"></li>
					<li><a href="$adminLogoutLink">注销</a></li>
				</ul>
			</div>
			<div class="nav pull-right">
				<ul class="nav">
					<li><a href="messages.html">站内信</a></li>
				</ul>
			</div>
			#else
			<div class="nav pull-right">
				<ul class="nav">
					<li><a href="$adminModule.setTarget("login")">登录</a></li>
				</ul>
			</div>
			#end
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="$qthAdminHomeLink">主页</a></li>
					#if ($qthAdmin.hasLoggedIn())
						<li class="active"><a href="listUser.htm">用户管理</a></li>
						<li><a href="saleProductManage.html">销售产品管理</a></li>
						<li><a href="procureProductManage.html">采购产品管理</a></li>
						<li><a href="listProductCategory.htm">产品类别管理</a></li>
					#end
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>